
<h1> </h1>
<div class="w3layouts_main_grids">
    <div class="w3layouts_main_grid_left">
      <div class="w3_search">
          <input list="browsers" class="datalist" placeholder="Enter State..." name="browser" #stat>
          <datalist id="browsers">
              <option *ngFor="let state of capitals"> {{state.countryName}}</option>
          </datalist>
          <input type="button" value=" " (click)="sendCoutry(stat)">
      </div>
      <div class="w3l_search_bottom">
        <ul class="w3ls_weather">
        <li *ngFor="let ci of citys" ><i>{{hour}}:{{min}} AM</i> {{ci.region}}<span> {{ci.wheth}}°</span></li>
          <!--
          <li ><i>9:00 AM</i>Chicago<span>20°</span></li>
          <li><i>10:00 AM</i>Miami<span>25°</span></li>
          <li><i>12:00 PM</i>Paris<span>30°</span></li>
          <li><i>11:00 AM</i>Houston<span>35°</span></li>
          <li><i>3:00 PM</i>Barcelona<span>15°</span></li>
          <li><i>6:00 PM</i>Hawaii<span>35°</span></li>
          -->
        </ul>

      </div>
      <ul class="agileits_social_icons">
        <li><a href="#" class="agileinfo_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#" class="wthree_instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#" class="w3_agileits_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#" class="agile_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="w3layouts_main_grid_right">
      <div class="agileits_w3layouts_main_grid_right">
        <div class="w3_agile_main_grid_left">
          <h2> {{ this.capital }}</h2>
          <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{getTime() }}</p>
          <h3> (this.datawhe.main.temp/10).toPrecision(2)}} °</h3>
        </div>
        <div class="w3_agile_main_grid_right">
          <ul class="w3layouts_weather_updates">
            <li>
              <canvas id="clear-day" width="25" height="25"></canvas>
              25°<span>Monday<i><label class="fa fa-clock-o" aria-hidden="true"></label> 11:00 AM</i></span>
            </li>
            <li>
              <canvas id="sleet" width="25" height="25"></canvas>
              5°<span>Tuesday<i><label class="fa fa-clock-o" aria-hidden="true"></label> 12:00 PM</i></span>
            </li>
            <li>
              <canvas id="partly-cloudy-day" width="25" height="25"></canvas>
              25°<span>Wednesday<i><label class="fa fa-clock-o" aria-hidden="true"></label> 9:00 AM</i></span>
            </li>
            <li>
              <canvas id="partly-cloudy-night" width="25" height="25"> </canvas>
              15°<span>Thursday<i><label class="fa fa-clock-o" aria-hidden="true"></label> 4:00 PM</i></span>
            </li>
          </ul>
        </div>
        <div class="clear"> </div>
      </div>
      <div class="w3_agile_main_grid_right1">
        <div id="owl-demo" class="owl-carousel">
          <div class="item">
            <div class="w3_weather_scroll">
              <h4>10:00 AM</h4>
              <h5>27°</h5>
              <canvas id="clear-night" width="30" height="30"></canvas>
            </div>
          </div>
          <div class="item">
            <div class="w3_weather_scroll">
              <h4>11:00 AM</h4>
              <h5>15°</h5>
              <canvas id="cloudy" width="30" height="30"></canvas>
            </div>
          </div>
          <div class="item">
            <div class="w3_weather_scroll">
              <h4>3:00 PM</h4>
              <h5>-5°</h5>
              <canvas id="rain" width="30" height="30"></canvas>
            </div>
          </div>
          <div class="item">
            <div class="w3_weather_scroll">
              <h4>5:00 PM</h4>
              <h5>35°</h5>
              <canvas id="wind" width="30" height="30"></canvas>
            </div>
          </div>
          <div class="item">
            <div class="w3_weather_scroll">
              <h4>8:00 PM</h4>
              <h5>5°</h5>
              <canvas id="snow" width="30" height="30"></canvas>
            </div>
          </div>
          <div class="item">
            <div class="w3_weather_scroll">
              <h4>10:00 PM</h4>
              <h5>18°</h5>
              <canvas id="fog" width="25" height="25"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"> </div>
  </div>


  <div class="agileits_copyright">
			<p>© 2019 weather-now . All Rights Reserved </p>
    </div>
